<section>
    <div class="header">
        <img src="/images/gglogo.png" class="logo" alt="gridiron grandmaster logo">
        <div id="landingPage">
        <a href="/login" class="loginButton">LOGIN</a>
        <a href="/createAccount" class="createAccountButton">CREATE ACCOUNT</a>
    </div>
    </div>
</section>