<section>
    <div class="header">
        <img src="/images/gglogo.png" class="logo" alt="gridiron grandmaster logo">
        <a href="/login" class="login">LOGIN</a>
        <a href="/createAccount" class="createaccount">CREATE ACCOUNT</a>
    </div>
</section>