<section>
    <div class="login">
        <img src="/images/gglogo.png" class="logo" alt="gridiron grandmaster logo">
        <h1>LOGIN</h1>
        <form action="/login" id="loginForm" method="POST">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Email" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <button type="submit" class="loginButton">Login</button>
        </form>
</section>

<script src="/js/login.js"></script>