const selectedTeams = require(../selectedTeams)

<section>
    <div class="teamNames">
        <img src="/images/gglogo.png" class="logo" alt="gridiron grandmaster logo">
        <h1>Select 3 Teams</h1>

        <!-- Render the team names and logos next to each other -->
        <div class="teamContainer">
            <div class="teamSelection">
                {{#each teamInfo as | selectedTeams |}}
                   
                  <button class="teamLogoButton" data-team="{{selectedTeams.displayName}}" data-logo="{{selectedTeams.logo}}">
                    {{selectedTeams.displayName}}
                    <img src="{{selectedTeams.logo}}" class="teamLogoPhoto">
                </button>
            {{/each}}
            </div>

            

        </div>
    </div>
</section>

