<section>
    <div class="teamNames">
        <img src="/images/gglogo.png" class="logo" alt="gridiron grandmaster logo">
        <h1>Select 3 Teams</h1>
    {{!-- <ul class="teamSelection">
    {{#each teams}}
    <li class="teamNameButton"><button>{{this.team.displayName}}</button></li>
    {{/each}}
    </ul> --}}

    {{#each logos}}
    <button class="teamLogoButton"><img src="{{this}}" class="teamLogoPhoto"></button>  
    {{/each}}
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const buttons = document.querySelectorAll('.teamLogoButton');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                // Toggle background color on button click
                button.classList.toggle('selected');

        const selectedButtons = document.querySelectorAll('.teamLogoButton.selected');
            if (selectedButtons.length > 3) {
                    button.classList.remove('selected');
                 }
            });
        });
    });
</script>
