.nav{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    padding: 2rem;
    background-color: black;
    margin-top: 0;
}

.nav li{
    list-style: none;
}
.nav li a{
    color:white;
    text-decoration: none;
    text-align: center;
}
.logo {
    max-width: 50%;

}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.teamNames {
    text-align: center;;
}

.teamLogoButton {
    background-color: black;
    border: none;
}

.teamLogoButton.selected {
    background-color: white; /* Set the background color when selected */
}

.teamLogoPhoto {
    max-width: 25%;
}

.header{
    text-align: center;
    
}
.teamContainer{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
}
.teamCard{
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(255, 21, 21, 0.8);
    max-width: 30rem;
    min-width: 15rem;
}